{%- extends 'layout.html' %}

{%- block custom_static %}
<link href="{{ url_for('static', filename='styles/plugins/bootstrap.min.css')}}" media="all" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/fix.css')}}" media="all" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/dropdown.css')}}" media="all" rel="stylesheet" />
<script src="{{ url_for('static', filename='scripts/plugins/flexpaper_flash.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/lecture.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/player.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/plugins/serializeObject.js')}}"></script>
<script>
$(function(){
    window.register_lecture_id({{ lecture.id }})
    {%- if not current_user.is_anonymous() %}
    refresh_comment = function (res, data) {
        var box, clear, avatar_box, detial_container, user_info, content;
        box = $('<div class="detail-box underline-dashed"></div>');
        clear = $('<div class="clear"></div>');
        avatar_box = $('<div class="avatar avatar-small"></div>');
        detial_container = $('<div class="detail"></div>');
        user_info = $('<p class="user-info"></p>');
        content = $('<div class="detail-content"></div>');

        box.append(avatar_box).append(detial_container);
        avatar_box.append($('<img src="{{ current_user.get_avatar(size=50) }}" title="{{ current_user.nickname or current_user.name or current_user.username }}" />'));
        detial_container.append(user_info).append(content);
        user_info.append($('<a href="{{ url_for('account.people', username=current_user.username) }}">{{ current_user.nickname or current_user.name or current_user.username }}</a>'));
        content.append($('<p></p>').append(data.comment));

        $('#lecture-comment-content').prepend(box);
        
        $('#no-comments-box').fadeOut();

        $(':input', form)
         .not(':button, :submit, :reset, :hidden')
         .val('')
         .removeAttr('checked')
         .removeAttr('selected');
    }
    {%- endif %}
})
</script>
{%- endblock %}
{%- block left %}
<div id="player-container">
    <video src="{{ lecture.video_url }}" controls="controls" autoplay="autoplay" id="player">
        Your browser does not support the video tag.
    </video>
    <div id="question-answer-mask" class="player-mask">
        <form id="question-form">
            <input type="hidden" value="" name="quiz_id" id="quiz_id" />
            <div class="question">
                <span class="question-title"></span>
                <span class="tips"></span>
            </div>
            <div class="opts"></div>
            <div class="btns">
                <p><a id="continue-btn" href="javascript:void(0);" class="btn btn-success">Continue</a></p>
                <p><a id="skip-btn" href="javascript:void(0);" class="btn btn-primary" onclick="javascript:void(0)">Skip</a></p>
            </div>
        </form>
    </div>

    {%- for r in lecture.resources %}
    {%- if r.type in ('pdf') %}
    <div class="player-mask narrow-border online-viewer-container" id="online-view-{{ r.id }}">
        <a href="#" class="play-mask-close">关闭</a>
        <embed class="pdf-viewer" src="{{ r.resource_url }}"></embed>
    </div>
    {%- endif %}
    {%- if r.type in ('ppt', 'doc') %}
    <div class="player-mask narrow-border online-viewer-container" id="online-view-{{ r.id }}">
        <a href="#" class="play-mask-close">关闭</a>
        <a class="online-view-container" id="online-view-container-{{ r.id }}" style="display:block; width: 100%; height: 100%"></a>
        <script type="text/javascript">
            $(document).ready(function() {
                if(window['ViewerMode'] == 'html'){$("#html5mode").hide();}else{$("#html5mode").show();}
            });
            var fp = new FlexPaperViewer(
                    '/static/scripts/plugins/flexpaper/FlexPaperViewer',
                    'online-view-container-{{ r.id }}', { config : {
                        SwfFile : "{{ r.resource_url }}",
                        Scale : 1.0,
                        ZoomTime : 0.01,
                        ZoomInterval : 0.2,
                        FitPageOnLoad : false,
                        FitWidthOnLoad : true,
                        FullScreenAsMaxWindow : false,
                        ProgressiveLoading : false,
                        MinZoomSize : 0.2,
                        MaxZoomSize : 5,
                        SearchMatchAll : false,
                        InitViewMode : 'Portrait',
                        PrintPaperAsBitmap : false,
                        RenderingOrder : 'flash,html',
                        ViewModeToolsVisible : true,
                        ZoomToolsVisible : true,
                        NavToolsVisible : true,
                        CursorToolsVisible : true,
                        SearchToolsVisible : true,
                        localeChain: 'zh_CN'
                    }});
        </script>
    </div>
    {%- endif %}
    {%- endfor %}
</div>

<div id="lecture-intro">
    <h2>{{ lecture.name }}</h2>
    <p>{{ lecture.description }}</p>
    <div id="category_info">
        <ul>
            <li><a href="{{ url_for('course.library') }}">{{ _('Courses') }}</a></li>
            <li><a href="{{ url_for('course.subject', sid=lecture.course.category.subject.id) }}">{{ lecture.course.category.subject.name }}</a></li>
            <li><a href="{{ url_for('course.category', sid=lecture.course.category.subject.id, cid=lecture.course.category.id)}}">{{ lecture.course.category.name }}</a></li>
            <li><a href="{{ url_for('course.course', course_id=lecture.course.id) }}">{{ lecture.course.name }}</a></li>
            <li><a>{{ lecture.name }}</a></li>
        </ul>
    </div>
</div>
<div class="shadow"></div>

<div id="lecture-info">

    <div id="lecture-info-left">

        <div id="lecture-btns">
            <ul>
                <li><a href="javascript:void(0);" id="btn-knowledge-point" class="lecture-btns current">{{ _('Knowledge Points') }}</a></li>
                <li><a href="javascript:void(0);" id="btn-discussion" class="lecture-btns">{{ _('Relatived Dicusses') }}</a></li>
                <li><a href="javascript:void(0);" id="btn-quiz" class="lecture-btns">{{ _('Quiz') }}</a></li>
                <li><a href="javascript:void(0);" id="btn-video-resource" class="lecture-btns">{{ _('Resource of Course') }}</a></li>
                <li><a href="javascript:void(0);" id="btn-comment" class="lecture-btns">{{ _('Comments of Course') }}</a></li>
                <li class="ask"><a href="{{ url_for('discuss.post', lid=lecture.id) }}" id="ask-btn" target="_blank">{{ _('Post Dicussion') }}</a></li>
            </ul>
        </div>

        <div id="lecture-tips">
            <div id="lecture-knowledge-point" class="lecture-bar">
                <p>{{ lecture.knowledge_point|safe }}</p>
            </div>

            <div id="lecture-discussion" class="lecture-bar lecture-hidden">
                <ul>
                    {%- if lecture.questions.count() < 1 %}{{ _('No dicussions') }}{%- endif %}
                    {%- for index, q in lecture.questions|enumerate %}
                    <li>
                        <div class="single-box">
                            <div class="user-avatar">
                                <a href="{{ url_for('account.people', username=q.author.username) }}" target="_blank"><img src="{{ q.author.get_avatar(size=40) }}" /></a>
                            </div>
                            <div class="discussion-content">
                                <div class="userinfo">
                                    <a href="{{ url_for('account.people', username=q.author.username) }}" target="_blank">{{ q.author.username }}</a> {{ _('has post discussion') }}
                                    <span class="time"> {{ q.created | friendly_time }} </span>
                                </div>
                                <div class="discussion-title">
                                    <a target="_blank" href="{{ url_for('discuss.view_question', qid=q.id) }}">{{ q.title }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {%- endfor %}
                </ul>
            </div>

            <div id="lecture-quiz" class="lecture-bar lecture-hidden">
                {%- if quizs.count() < 1 %}{{ _('No quizs') }}{%- endif %}
                {%- for index, quiz in quizs|enumerate %}
                <div class="quiz-item" id="quiz-item-{{quiz.id}}">
                    <div class="quiz-title" id="quiz-title-{{quiz.id}}">{{ index + 1 }}.{{ quiz.question }}<span></span></div>
                    <div class="quiz-option" id="quiz-option-{{quiz.id}}">
                        <ul>
                            {%- for op in quiz.options %}
                            <li><label><input name="quiz-{{index}}" onclick="window.check_answer({{lecture.id}}, {{quiz.id}}, {{op.id}}, '{{op.content}}')" type="radio"/>{{ op.content }}</label></li>
                            {%- endfor %}
                        </ul>
                    </div>
                    </div>
                {%- endfor %}
            </div>

            <div id="lecture-video-resource" class="lecture-bar lecture-hidden">
                <table class="resource-table">
                    <thead>
                    <tr>
                        <td>{{ _('Resource') }}</td>
                        <td>{{ _('Category') }}</td>
                        <td>{{ _('Download') }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ _('Download Video') }}</td>
                        <td>{{ _('Video') }}</td>
                        <td><a href="{{ lecture.video_url }}">{{ _('Download') }}</a></td>
                    </tr>
                    {%- for r in lecture.resources %}
                    <tr>
                        <td>{{ r.name }}</td>
                        <td>{{ r.category|friendly_resource_category }}</td>
                        <td>{%- if r.category in ('ppt', 'doc', 'pdf') %}<a href="#online-view-{{ r.id }}" id="online-view-{{ r.id }}" data="{{ r.id }}" class="online-view">{{ _('Preview Online') }}</a>{%- endif %} <a href="{{ lecture.video_url }}">{{ _('Download') }}</a></td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>

            <div id="lecture-comment" class="lecture-bar lecture-hidden">
                {%- if not current_user.is_anonymous() %}
                <div id="lecture-comment-submit" class="submit-form-container">
                    <div class="form-title">{{ _('Post Comment') }}</div>
                    <form id="lectureCommentForm" action="{{ url_for('course.lecture_comment') }}" method="POST" class="submit-form">
                        {{ form.csrf_token }}
                        {{ form.lecture_id(type="hidden", value=lecture.id) }}
                        {{ form.comment() }}
                        <button>{{ _('Submit') }}</button>
                    </form>
                </div>
                {%- endif %}
                <div id="lecture-comment-content">
                {%- if lecture.comments.count() < 1 %}
                <div id="no-comments-box">
                {{ _('No comments for this lecture.') }}
                </div>
                {%- endif %}
                {%- for comment in lecture.comments[:10] %}
                    <div class="detail-box underline-dashed">
                        <div class="avatar avatar-small">
                            <img src="{{ comment.user.get_avatar(size=50) }}" title="{{ comment.user.nickname or comment.user.name or comment.user.username  }}" />
                        </div>
                        <div class="detail">
                            <p class="user-info">
                                <a href="{{ url_for('account.people', username=comment.user.username) }}">{{ comment.user.nickname or comment.user.name or comment.user.username }}</a>
                            </p>
                            <div class="detail-content">
                                <p>{{ comment.comment }}</p>
                                <p class="time">{{ comment.created | friendly_time }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                {%- endfor %}
                </div>
            </div>

        </div>
        <div class="shadow"></div>

    </div>

    <div id="lecture-info-right">
        <div id="lecture-who-learning">
            <h2>{{ _("Who's learning?") }}</h2>
            <div id="leanring">
                {%- for l in learning %}
                <div class="content-list">
                    <div class="icon">
                        <img src="{{ l.user.get_avatar() }}">
                    </div>
                    <div class="tip">
                        <div>
                        <span class="tip-text username">{{ l.user.nickname }}</span>
                        <span class="tip-text time">{{ l.created | friendly_time }}</span>
                        <span class="tip-text">{{ _('learnt') }}</span>
                        </div>
                        <span class="course-name">{{ l.lecture.name }}</span>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
{%- endblock %}

{%- block right %}
{%- endblock %}

{%- block endscript %}
<script type="text/javascript">
    $(function(){
        $T.ajax_form($('#lectureCommentForm'));
    });
</script>
{%- endblock %}
