Flask==0.10.1
Flask-Babel==0.9
Flask-Gears==0.2
Flask-Login==0.2.7
Flask-RBAC==0.2.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.2
Flask-SeaSurf==0.1.22
Flask-WTF==0.9.3
Gears==0.6.1
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.3
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
gears-clean-css==0.1.2
gears-coffeescript==0.1.1
gears-stylus==0.1.3
itsdangerous==0.23
odict==1.5.1
ply==3.4
slimit==0.8.1
wsgiref==0.1.2
