{%- extends 'layout.html' %}

{%- block custom_static %}
<script src="{{ url_for('static', filename='scripts/question.js')}}"></script>
{%- endblock %}

{%- block left %}
<div id="left">
    <div id="question-description" class="two-rows-box">
        <div id="question-info">
            <div id="question-title">{{ question.title }} {% if question.lecture %}<span> {{ _('From') }}<a href="{{ url_for('course.lecture', lecture_id=question.lecture.id )}}">《{{ question.lecture.name }}》</a>{{ _("'s Questions") }}</span>{% endif %}</div>
            <ul id="question-tags">
            {%- for tag in question.tags %}
                <li><span><a href="{{ url_for('discuss.tag', tag=tag.tag) }}">{{ tag.tag }}</a></span></li>
            {%- endfor %}
                <li class="author">{{ question.author.nickname }}</li>
                <li class="time">{{ question.created | friendly_time }}</li>
                <li class="count">{{ question.read_count }} {{ _('view(s)') }}</li>
            </ul>
        </div>
        <div class="avatar"><img src="{{ question.author.get_avatar() }}" /></div>
        <div class="clear"></div>
        <div class="full-line"></div>
        <div id="question-content" class="bottom-row">
        {{ question.content }}
        </div>
    </div>
    <div class="shadow"></div>

    <div style="margin: 20px 0 20px 0;"></div>

    <div id="question-answer">
        <ul id="answers-list">
            {%- for a in answers %}
            {%- if not a.parent %}
            <div style="margin: 20px 0 20px 0;"></div>
            <li id="answer-{{ a.id }}">
                {%- if not current_user.is_anonymous() %}
                <span class="vote-btns">
                    <a href="#vote-up" data="{{ a.id }}" class="vote-up{%- if a in ups %} vote-btn-click{%- endif %}">
                        <span class="vote-btn iconfont common-iconfont">&#xf013c;</span>
                    </a>
                    <a href="#vote-down" data="{{ a.id }}" class="vote-down{%- if a in downs %} vote-btn-click{%- endif %}">
                        <span class="vote-btn iconfont common-iconfont">&#xf013d;</span>
                     </a>
                </span>
                {%- endif %}
                <span class="avatar"><img src="{{ question.author.get_avatar() }}" /></span>
                <div class="answer-info">
                    <span class="author">{{ a.author.nickname }}</span>
                    <span class="time">{{ a.created | friendly_time }}</span>
                    <div class="clear"></div>
                    <span class="up_count"><a>{{ a.up_count - a.down_count }}</a> {{ _('up(s)') }}</span>
                </div>
                <div class="clear"></div>
                <p class="content">{{ a.content }}</p>
            </li>
            <div class="shadow"></div>
            {%- endif %}
            {%- endfor %}
        </ul>
    </div>

    <div id="re-answer">
        <form id="re-answer-form" action="{{ url_for('discuss.answer', qid=question.id) }}">
            <label>{{ _('Reply:') }}</label>
            <div>
                <textarea name="answer"></textarea>
            </div>
            <input type="submit" value="{{ _('Reply') }}" id="submit" />
            <div class="clear"></div>
        </form>
    </div>
    <div class="shadow"></div>

</div>
{%- endblock %}

{%- block right %}
<div id="right">
    <div class="info-box">
        <div class="info-wrapper">
            <div class="title">{{ _('Hot Tags') }}</div>
            <div class="content">
                <div class="list">
                    <ul>
                        {%- for t in hotest_tags %}
                        <li class="tag-item"><a href="{{ url_for('discuss.tag', tag=t.tag) }}">{{ t.tag }}</a></li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
{%- endblock %}
