{%- extends 'admin/master.html' %}
{%- import 'utils.jinja' as utils %}

{%- block breadcrumb %}
<li><a href="{{ url_for('master.master_account_list') }}">{{ _('Account Manage') }}</a><span class="divider">/</span><li>
<li class="active">{{ _('Create User') }}</li>
{%- endblock %}

{%- block content %}
<div class="row-fluid">
    <div class="well">
        <div id="tab-content" class="tab-content">
            <div class="tab-pane active in" id="profile">
                <form id="profile-form">
                    {{ form.csrf_token }}
                    {{ form.username.label }} {{ form.username }}
                    {{ form.raw_passwd.label }} {{ form.raw_passwd }}
                    {{ form.name.label }} {{ form.name }}
                    {{ form.college.label }} {{ form.college }}
                    {{ form.stu_number.label }} {{ form.stu_number }}
                    {{ form.card_id.label }} {{ form.card_id }}
                    {{ form.nickname.label }} {{ form.nickname }}
                    {{ form.is_male.label }} {{ form.is_male }}
                    {{ form.phone.label }} {{ form.phone }}
                    {{ form.short_phone.label }} {{ form.short_phone }}
                    {{ form.email.label }} {{ form.email }}
                    {{ form.qq.label }} {{ form.qq }}
                    {{ form.state.label }} {{ form.state }}
                    {{ form.szu_account_type.label }} {{ form.szu_account_type }}
                </form>
            </div>
            <div class="btn-toolbar">
                <button class="btn btn-primary" id="save-btn"><i class="icon-save"></i> {{ _('Save') }}</button>
                <a href="{{ url_for('master.master_account_list') }}" data-toggle="modal" class="btn">{{ _('Cancel') }}</a>
            </div>
        </div>
    </div>

{%- endblock %}

{%- block scripts %}
<script>
$(function(){
    $('#profile-form').submit(function(){
        $.ajax({
            url: "{{ url_for('master.master_account_new') }}",
            type: 'post',
            dataType: 'json',
            data: $(this).serialize(),
            success: function(response) {
                if(response.success){
                    location.href = "{{ url_for('master.master_account_list') }}";
                }
                else{
                    location.href = "{{ url_for('master.master_account_list') }}";
                }
            }
        });
        return false;
    });

    $("#save-btn").click(function(){
        $('#profile-form').submit();
    })

})
</script>
{%- endblock %}