{%- extends 'admin/layout.html' %}
{%- import 'utils.jinja' as utils %}

{%- block breadcrumb %}
<li><a href="{{ url_for(endpoints['list']) }}">{{ model_name }} Manage</a><span class="divider">/</span><li>
<li class="active">Show</li>
{%- endblock %}

{%- block content %}
<div class="row-fluid">
    <div class="well">
        <div id="tab-content" class="tab-content">
            <div class="tab-pane active in" id="edit">
                <form id="edit-form">
                    {{ form.csrf_token }}
                    {%- block form_fields %}
                    {%- endblock %}
                </form>
                <div class="btn-toolbar">
                    <button class="btn btn-primary" id="save-btn"><span class="icon-save"></span> Save</button>
                    <a class="btn btn-danger delete-btns" href="#delete-modal" data-toggle="modal"><span class="icon-trash"></span> Delete</a>
                    <a class="btn delete-btns" href="{{ url_for(endpoints['list']) }}" data-toggle="modal"> Cancel</a>
                </div>
            </div>
        </div>
    </div>

<div class="modal small hide fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="delete-modal-label">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="confirm-delete-btn" class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>
{%- endblock %}

{%- block scripts %}
<script>
$(function(){
    $("#confirm-delete-btn").click(function(){
        $.ajax({
            url: "{{ url_for(endpoints['delete'], mid=mid) }}",
            type: 'delete',
            dataType: 'json',
            data: {'_crsf_token': getCookie('_crsf_token') },
            success: function(response) {
                if(response.success){
                    location.href = "{{ url_for(endpoints['list']) }}";
                }
                else{
                    location.href = "{{ url_for(endpoints['list']) }}";
                }
            }
        });
    });

    $('#edit-form').submit(function(){
        $.ajax({
            url: "{{ url_for(endpoints['edit'], mid=mid) }}",
            type: 'put',
            dataType: 'json',
            data: $(this).serialize(),
            success: function(response) {
                if(response.success){
                    location.href = "{{ url_for(endpoints['list']) }}";
                }
                else{
                    $T.flash_message(response.messages.join(', '), 'error');
                }
            }
        });
        return false;
    });

    $("#save-btn").click(function(){
        $('#edit-form').submit();
    })

});
</script>
{%- endblock %}