{%- extends 'layout.html' %}

{%- block left %}
<div id="left">
    <div id="tips">
        <ul>
            <li><a href="{{ url_for('qa.lastest') }}" id="lastest"{%- if type == 'lastest' %} class="current"{%- endif %}>最新</a></li>
            <li><a href="{{ url_for('qa.hotest') }}" id="hotest"{%- if type == 'hotest' %} class="current"{%- endif %}>热门</a></li>
            <li><a href="{{ url_for('qa.noanswer') }}" id="none-answer"{%- if type == 'noanswer' %} class="current"{%- endif %}>无回答</a></li>
            <li class="ask"><a href="{{ url_for('qa.ask') }}" id="ask-btn">提问</a></li>
        </ul>
    </div>

    <ul id="question-list">
        {%- if question_pagination.total > 0 %}
        {%- for q in question_pagination.items %}
        <li class="question-item">
            <div class="question-left-float question-stats">
                <div class="question-left-float view-count">
                    <p>{{ q.read_count }}</p>次浏览
                </div>
                <div class="question-left-float respond-count">
                    <p>{{ q.answers | count }}</p>个回答
                </div>
            </div>
            <div class="question-left-float question-content">
                <div class="question-title"><a href="{{ url_for('qa.view_question', qid=q.id) }}">{{ q.title }}</a></div>
                <div>
                    <div class="question-tags question-left-float">
                        <ul>
                            {%- for t in q.tags %}
                            <li>{{ t.tag }}</li>
                            {%- endfor %}
                        </ul>
                    </div>
                    <div class="question-author question-left-float">
                        <span>{%- if q.anonymous %}匿名{%- else %}{{ q.author.nickname }}{%- endif %}</span>
                        <span>{{ q.created | friendly_time}}</span>
                    </div>
                </div>
            </div>
        </li>
        {%- endfor %}
        {%- endif %}
    </ul>
    <div class="shadow"></div>
</div>
{%- endblock %}

{%- block right %}
<div id="right">
    <div class="info-wrapper">
        <div id="question-tags" class="info-box">
            <div class="title">热门标签</div>
            <div class="content">
                <div class="content-list">
                    <ul>
                        {%- for t in hotest_tags %}
                        <li><span>{{ t.tag }}</span></li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
{%- endblock %}
