{%- extends 'layout.html' %}

{%- block static_files %}
{%- endblock %}

{%- block left %}
<div id="left">
    <div id="tips">
        <ul>
            <li><a href="{{ url_for('qa.lastest') }}" id="lastest"{%- if type == 'lastest' %} class="current"{%- endif %}>最新</a></li>
            <li><a href="{{ url_for('qa.hotest') }}" id="hotest"{%- if type == 'hotest' %} class="current"{%- endif %}>热门</a></li>
            <li><a href="#" id="none-answer"{%- if type == 'no-answer' %} class="current"{%- endif %}>无回答</a></li>
            <li><a href="#" id="fav"{%- if type == 'fav' %} class="current"{%- endif %}>我关注的</a></li>
        </ul>
    </div>

    <ul id="question-list">
        {%- if question_pagination.total > 0 %}
        {%- for q in question_pagination.items %}
        <li class="question-item">
            <div class="question-left-float question-stats">
                <div class="question-left-float view-count">
                    <p>{{ q.read_count }}</p>次浏览
                </div>
                <div class="question-left-float respond-count">
                    <p>{{ q.answers | count }}</p>个回答
                </div>
            </div>
            <div class="question-left-float question-content">
                <div class="question-title">{{ q.title }}</div>
                <div>
                    <div class="question-tags question-left-float">
                        <ul>
                            <li>标签1</li>
                            <li>标签2</li>
                        </ul>
                    </div>
                    <div class="question-author question-left-float">
                        <span>shonenada</span><span>11分钟前</span>
                    </div>
                </div>
            </div>
        </li>
        {%- endfor %}
        {%- endif %}
    </ul>
    <div class="shadow"></div>
</div>
{%- endblock %}

{%- block right %}
<div id="right">
    <div class="info-wrapper">
        <div id="question-tags" class="info-box">
            <div class="title">热门标签</div>
            <div class="content">
                <div class="content-list">
                    <ul>
                        <li><span>问题标签1</span></li>
                        <li><span>问题标签2</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
{%- endblock %}
