{% extends 'layout.html' %}
{% block left %}
<div id="left">
    <div id="category_list">
        <ul>
            <li><a href="{{ url_for('course.courses') }}">课程库</a></li>
            <li><a href="{{ url_for('course.subject', sid=this_category.subject.id) }}">{{ this_category.subject.name }}</a></li>
            <li><a href="{{ url_for('course.category', sid=this_category.subject.id, cid=this_category.id)}}">{{ this_category.name }}</a></li>
        </ul>
    </div>
    <div class="course-category">
        <span class="course-category-title">{{ this_category.name }}</span>
        {% for c in this_category.course %}
        <a href="{{ url_for('course.course', course_id=c.id) }}">
            {% include 'course_box.html' %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
