<div class="course-container">
    <div class="course-box">
        <div class="course-info">
            <div class="icon">
                <img src="{{ clip.logo_url }}" />
            </div>
            <div class="course-title">
                {{ clip.name }}
            </div>
            <div class="course-description">
                <p>{{ clip.description }}</p>
            </div>
        </div>
        <div class="course-record">
            <div class="course-num"><span>#1</span></div>
            <div class="learned-num"><span>xxxx</span> 分钟</div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
