<div class="course-container">
    <div class="course-box">
        <div class="course-info">
            <div class="icon">
                <img src="{{ url_for('static', filename='images/clip_icon.png') }}" />
            </div>
            <div class="course-title">
                {{ clip.name }}
            </div>
            <div class="course-description">
                <p>{{ clip.description }}</p>
            </div>
        </div>
        <div class="course-record">
            <div class="course-num"><span>#{{ clip.order }}</span></div>
            <div class="learned-num"><span>{{ clip.video_length }}</span> 分钟</div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
