<div class="course-container">
    <div class="course-box">
        <div class="course-info">
            <div class="icon">
                <img src="http://itercast.com/assets/icons/course-01.png" />
            </div>
            <div class="course-title">
                安装 Linux
            </div>
            <div class="course-description">
                <p>本视频教你如果安装Linux</p>
            </div>
        </div>
        <div class="course-record">
            <div class="course-num"><span>#1</span></div>
            <div class="learned-num"><span>xxxx</span> 分钟</div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
