{% extends 'layout.html' %}

{% block before_main %}
<div id="category_list" class="w1170 center-block">
    <ul>
        {% for s in subjects %}
        <li><a href="/courses/subject/{{s.id}}">{{ s.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block left %}
    <div id="left">
        {% for s in subjects %}
        <div class="course-category">
            {% for cat in s.category %}
            <span class="course-category-title">
                <a href="{{ url_for('course.category', sid=s.id, cid=cat.id) }}">
                    {{cat.name}}
                </a>
            </span>
            {% for c in cat.course %}
            <a href="{{ url_for('course.course', course_id=c.id) }}">
                {% include 'course_box.html' %}
            </a>
            {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
