<div class="course-container">
    <div class="course-box">
        <div class="course-info">
            <div class="icon">
                <img src="{{ course.logo_url }}" />
            </div>
            <div class="course-title">
                {{ course.name }}
            </div>
            <div class="course-description">
                <p>{{ course.description|ellipsis(60) }}</p>
            </div>
        </div>
        <div class="course-record">
            <div class="course-num"><span>{{ course.clips|count }}</span> 个课程</div>
            <div class="learned-num"><span>{{ course|learn_count }}</span> 个同学学习</div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
