{% extends 'layout.html' %}

{% block before_main %}
<div id="category_list" class="w1170 center-block">
    <ul>
        <li><a href="/courses/category/1">category_1</a></li>
        <li><a href="/courses/category/2">category_2</a></li>
        <li><a href="/courses/category/3">category_3</a></li>
    </ul>
</div>
{% endblock %}

{% block left %}
    <div id="left">
        <div class="course-category">
            <span class="course-category-title"><a href="/courses/category/2">Course Category</a></span>
            {% include 'course_box.html' %}
        </div>
    </div>
{% endblock %}
