{%- extends 'layout.html' %}

{%- block main_head %}
<div id="category_list" class="wrapper">
    <ul>
        {%- for s in subjects %}
        <li><a href="/courses/subject/{{s.id}}">{{ s.name }}</a></li>
        {%- endfor %}
    </ul>
</div>
{%- endblock %}

{%- block left %}
    <div id="left">
        {%- for subject in subjects %}
        <div class="course-category">
            {%- for cat in subject.categorys %}
            <span class="course-category-title">
                <a href="{{ url_for('course.category', sid=subject.id, cid=cat.id) }}">
                    {{cat.name}}
                </a>
            </span>
            {%- for course in cat.courses %}
            <a href="{{ url_for('course.course', course_id=course.id) }}" class="course_box_wrapper">
                {%- include 'course_box.html' %}
            </a>
            {%- endfor %}
            <div style="clear:both;"></div>
            {%- endfor %}
        </div>
        {%- endfor %}
    </div>
{%- endblock %}
