{%- extends 'layout.html' %}

{%- block left %}
<div id="left">
    <div class="tips-box">
        <div class="tips">
            <ul>
                <li><a href="javascript:void(0)" class="current">{{ _('Feedback') }}</a></li>
            </ul>
        </div>
        <div class="content submit-form-container">
            <form id="feedbackForm" action="{{ url_for('master.feedback') }}" method="POST" class="submit-form">
                {{ form.csrf_token }}
                {{ form.title(placeholder=form.title.label.text) }}
                {{ form.feedback(cols="35", rows="20", placeholder=form.feedback.label.text) }}
                <input type="submit" value="{{ _('Submit') }}" />
            </form>
        </div>
    </div>
    <div class="shadow"></div>
</div>
{%- endblock %}

{%- block right %}
{%- endblock %}

{%- block endscript %}
<script type="text/javascript">
    $(function(){
        $T.ajax_form($('#feedbackForm'));
    });
</script>
{%- endblock %}
