<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ web_title or site_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ web_keyword or site_keyword }}" />
    <meta name="description" content="{{ web_description or site_description }}" />
    {%- block base_stylesheet %}
    <link href="{{ url_for('static', filename='styles/style.css')}}" media="all" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/flash-messages.css')}}" media="all" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/dropdown.css')}}" media="all" rel="stylesheet" />
    {%- endblock %}
    {%- block base_script %}
    <script src="{{ url_for('static', filename='components/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/plugins/cookies_for_ajax.js') }}" language="javascript"></script>
    <script src="{{ url_for('static', filename='scripts/plugins/mini-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/global.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nav.js') }}"></script>
    {%- endblock %}
    {%- block ie_fix %}
    <!--[if lt IE9]>
    <link href="{{ url_for('static', filename='styles/animate.css')}}" media="all" rel="stylesheet" />
    <script src="{{ url_for('static', filename='scripts/ui/animate.js')}}"></script>
    <![endif]-->
    {%- endblock %}
    {%- block custom_static %}
    {%- endblock %}
</head>

<body>
{%- include 'flash-message.html' %}
{%- block header %}
<header id="header" class='full-width'>
    <div id="nav-container" class="wrapper">
        <a href="{{ url_for('master.index') }}" id="logo">{{ _('MicroLecture') }}</a>
        <nav id="nav">
            <ul class="dropdown-nav">
                <li class="index-link"><a href="{{url_for('master.index')}}">{{ _('Home') }}</a></li>
                <li><a href="{{ url_for('course.library') }}">{{ _('Courses') }}</a></li>
                <li><a href="{{ url_for('discuss.question') }} ">{{ _('Discuss') }}</a></li>
                <li><a href="{{ url_for('resource.list')}}">{{ _('Resources') }}</a></li>
                {%- if current_user.is_anonymous() %}
                <li><a href="{{ url_for('account.signin') }}">{{ _('Sign In') }}</a></li>
                {%- else %}
                <li>
                    <a href="{{ url_for('account.setting') }}" class="user_logged">{{ current_user.username }}</a>
                    <ul class="dropdown">
                        {%- if has_perm('GET', 'admin.index') %}
                        <li><a href="{{ url_for('admin.index') }}">{{ _('Dashboard') }}</a></li>
                        {%- endif %}
                        <li><a href="{{ url_for('account.people', username=current_user.username) }}">{{ _('Personal Page') }}</a></li>
                        <li><a href="{{ url_for('account.setting') }}">{{ _('User Settings') }}</a></li>
                        <li><a href="{{ url_for('account.signout', next=request.path) }}">{{ _('Sign Out') }}</a></li>
                    </ul>
                </li>
                {%- endif %}
            </ul>
        </nav>
    </div>
    {%- block header_banner %}{%- endblock %}
</header>
{%- endblock %}

{%- block main %}
<div id="main">
    {%- block main_head %}{%- endblock %}
    <div id="main-content" class="wrapper">
        {%- block left %}
        {%- endblock %}

        {%- block right %}
        {%- include 'right.html' %}
        {%- endblock %}
    </div>
</div>
{%- endblock %}

{%- block footer %}
<footer id="footer">
    <div id="footer-banner" class="banner full-width">
        {%- block footer_banner %}{%- endblock %}
    </div>
    <div id="link">
        <ul>
            <li class="first"><a href="{{ url_for('master.about') }}">{{ _('About Us') }}</a></li>
            <li><a href="{{ url_for('master.feedback') }}">{{ _('Feedback') }}</a></li>
            <li><a href="{{ url_for('master.privacy') }}">{{ _('Privacy') }}</a></li>
        </ul>
    </div>
    <div id="copyright">
        {{ _('Copyright') }} &copy; {{ _('Shenzhen University') }} 2013
    </div>
</footer>
{%- endblock %}

{%- block endscript %}
{%- endblock %}
</body>
</html>
<!-- Execute time: {{ request_time() }} -->
