{% extends 'layout.html' %}

{% block static_files %}
<link href="{{ url_for('static', filename='styles/player.css')}}" media="all" rel="stylesheet" />
<link href="{{ url_for('static', filename='components/bootstrap/docs/assets/css/bootstrap.css')}}" media="all" rel="stylesheet" />
<script src="{{ url_for('static', filename='scripts/lecture.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/player.js')}}"></script>

<script>
$(function(){
    window.register_lecture_id({{ lecture.id }})
})
</script>
{% endblock %}
{% block left %}
<div id="player-container">
    <video src="{{ lecture.video_url }}" controls="controls" autoplay="autoplay" id="player">
        Your browser does not support the video tag.
    </video>
    <div id="player-mask">
        <form id="question-form">
            <input type="hidden" value="" name="quiz_id" id="quiz_id" />
            <div class="question">
                <span class="question-title"></span>
                <span class="tips"></span>
            </div>
            <div class="opts"></div>
            <div class="btns">
                <p><a id="continue-btn" href="javascript:void(0);" class="btn btn-success">Continue</a></p>
                <p><a id="skip-btn" href="javascript:void(0);" class="btn btn-primary" onclick="javascript:void(0)">Skip</a></p>
            </div>
            
        </form>
    </div>
</div>

<div id="lecture-intro">
    <h2>{{ lecture.name }}</h2>
    <p>{{ lecture.description }}</p>
    <div id="category_info">
        <ul>
            <li><a href="{{ url_for('course.courses') }}">课程库</a></li>
            <li><a href="{{ url_for('course.subject', sid=lecture.course.category.subject.id) }}">{{ lecture.course.category.subject.name }}</a></li>
            <li><a href="{{ url_for('course.category', sid=lecture.course.category.subject.id, cid=lecture.course.category.id)}}">{{ lecture.course.category.name }}</a></li>
            <li><a href="{{ url_for('course.course', course_id=lecture.course.id) }}">{{ lecture.course.name }}</a></li>
            <li><a>{{ lecture.name }}</a></li>
        </ul>
    </div>
</div>
<div class="shadow"></div>

<div id="lecture-info">

    <div id="lecture-info-left">

        <div id="lecture-btns">
            <ul>
                <li><a href="javascript:void(0);" id="btn-knowledge-point" class="lecture-btns current">知识点</a></li>
                <li><a href="javascript:void(0);" id="btn-questions" class="lecture-btns">相关问题</a></li>
                <li><a href="javascript:void(0);" id="btn-quiz" class="lecture-btns">课程测评</a></li>
                <li><a href="javascript:void(0);" id="btn-video-resource" class="lecture-btns">课程资源</a></li>
            </ul>
        </div>

        <div id="lecture-tips">
            <div id="lecture-knowledge-point" class="lecture-bar">
            <p>{{ lecture.knowledge_point|safe }}</p>
            </div>
            <div id="lecture-questions" class="lecture-bar lecture-hidden">
                相关问题
            </div>
            <div id="lecture-quiz" class="lecture-bar lecture-hidden">
                <form id="lecture-quiz-form">
                {% for quiz in quizs %}
                <div id="quiz-title">{{ quiz.question }}</div>
                <div id="quiz-option">
                <ul>
                    {% for op in quiz.options %}
                    <li>{{ op.content }}</li>
                    {% endfor %}
                </ul>
                </div>
                {% endfor %}
                </form>
            </div>
            <div id="lecture-video-resource" class="lecture-bar lecture-hidden">
                <ul>
                    <li><a href="{{ lecture.video_url }}">视频下载</a></li>
                </ul>
            </div>
        </div>
        <div class="shadow"></div>

    </div>

    <div id="lecture-info-right">
        <div id="lecture-who-learning">
            <h2>谁在学习此课程</h2>
            <div id="leanring">
                {% for l in learning %}
                <div class="content-list">
                    <div class="icon">
                        <img src="{{ l.user.avatar }}">
                    </div>
                    <div class="tip">
                        <div>
                        <span class="tip-text username">{{ l.user.nickname }}</span>
                        <span class="tip-text time">{{ l.created | friendly_time }}</span>
                        <span class="tip-text">学习了</span>
                        </div>
                        <span class="course-name">{{ l.lecture.name }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
{% endblock %}

{% block right %}
{% endblock %}
