{% extends 'layout.html' %}

{% block static_files %}
<script src="{{ url_for('static', filename='scripts/clip.js')}}"></script>
{% endblock %}
{% block left %}
<div id="player">
    <video src="{{ clip.video_url }}" controls="controls" autoplay="autoplay">
        Your browser does not support the video tag.
    </video>
</div>

<div id="clip-intro">
    <h2>{{ clip.name }}</h2>
    <p>{{ clip.description }}</p>
    <div id="category_info">
        <ul>
            <li><a href="{{ url_for('course.courses') }}">课程库</a></li>
            <li><a href="{{ url_for('course.subject', sid=clip.course.category.subject.id) }}">{{ clip.course.category.subject.name }}</a></li>
            <li><a href="{{ url_for('course.category', sid=clip.course.category.subject.id, cid=clip.course.category.id)}}">{{ clip.course.category.name }}</a></li>
            <li><a href="{{ url_for('course.course', course_id=clip.course.id) }}">{{ clip.course.name }}</a></li>
            <li><a>{{ clip.name }}</a></li>
        </ul>
    </div>
</div>
<div class="shadow"></div>

<div id="clip-info">

    <div id="clip-info-left">

        <div id="clip-btns">
            <ul>
                <li><a href="javascript:void(0);" id="btn-knowledge-point" class="clip-btns current">知识点</a></li>
                <li><a href="javascript:void(0);" id="btn-questions" class="clip-btns">相关问题</a></li>
                <li><a href="javascript:void(0);" id="btn-evaluation" class="clip-btns">课程测评</a></li>
                <li><a href="javascript:void(0);" id="btn-video-resource" class="clip-btns">课程资源</a></li>
            </ul>
        </div>

        <div id="clip-tips">
            <div id="clip-knowledge-point" class="clip-bar">
            <p>{{ clip.knowledge_point|safe }}</p>
            </div>
            <div id="clip-questions" class="clip-bar clip-hidden">
                相关问题
            </div>
            <div id="clip-evaluation" class="clip-bar clip-hidden">
                测评
            </div>
            <div id="clip-video-resource" class="clip-bar clip-hidden">
                资源
            </div>
        </div>
        <div class="shadow"></div>

    </div>

    <div id="clip-info-right">
        <div id="clip-who-learning">
            <h2>谁在学习此课程</h2>
            <div id="leanring">
                {% for l in learning %}
                <div class="content-list">
                    <div class="icon">
                        <img src="{{ l.user.avatar }}">
                    </div>
                    <div class="tip">
                        <div>
                        <span class="tip-text username">{{ l.user.nickname }}</span>
                        <span class="tip-text time">{{ l.created | friendly_time }}</span>
                        <span class="tip-text">学习了</span>
                        </div>
                        <span class="course-name">{{ l.clip.name }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
{% endblock %}

{% block right %}
{% endblock %}
