        <div id="right">
            {% if tags %}
            <div class="info-wrapper">
                <div id="question-tags" class="info-box">
                    <div class="title">{{ _('Hot Tags') }}</div>
                    <div class="content">
                        <div class="content-list">
                            <ul>
                                {%- for t in tags %}
                                <li><span><a href="{{ url_for('master.tag', tag=t.tag) }}">{{ t.tag }}</a></span></li>
                                {%- endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shadow"></div>
            </div>
            {% endif %}

            {% if learn_records %}
            <div class="info-wrapper">
                <div id="learn-act" class="info-box">
                    <div class="title">{{ _('Activity') }}</div>
                    <div class="content">
                        {% for record in learn_records %}
                        <div class="content-list">
                            <div class="icon">
                                <img src="{{ record.user.avatar }}">
                            </div>
                            <div class="tip">
                                <div>
                                <span class="tip-text username">{{ record.user.nickname }}</span>
                                <span class="tip-text time">{{ record.created | friendly_time }}</span>
                                <span class="tip-text">{{ _('learnt') }}</span>
                                </div>
                                <span class="course-name">
                                    <a href="{{ url_for('course.lecture', lecture_id=record.lecture.id) }}">
                                    {{ record.lecture.name }}
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="shadow"></div>
            </div>
            {% endif %}
            {% if last_lectures %}
            <div class="info-wrapper">
                <div id="last-course" class="info-box">
                    <div class="title">{{ _('Recent Courses') }}</div>
                    <div class="content">
                        {% for lc in last_lectures %}
                        <div class="content-list">
                            <div class="icon">
                                <img src="{{ lc.course.logo_url or url_for('static', filename='images/default_course_logo.png') }}">
                            </div>
                            <div class="tip">
                                <div>
                                <span class="tip-text username">{% if not lc.course.teacher %}{{ _('Administrator') }}{% else %}
                                {{ lc.course.teacher.szu_account.user.name or lc.course.teacher.szu_account.user.nickname or _('Administrator') }}{% endif %}</span>
                                <span class="tip-text time">{{ lc.upload_time | friendly_time }}</span>
                                <span class="tip-text">{{ _('published') }}</span>
                                </div>
                                <span class="course-name">
                                    <a href="{{ url_for('course.lecture', lecture_id=lc.id) }}">
                                        {{ lc.name }}
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="all-course-btn" class="wrapper-foot">
                    <a href="{{ url_for('course.courses')}}">{{ _('More Courses') }}</a>
                </div>
                <div class="shadow"></div>
            </div>
            {% endif %}

        </div>
