        <div id="right">
            <div class="info-wraper">
                <div id="learn-act" class="info-box">
                    <div class="title">
                        学习动态
                    </div>
                    <div class="content">
                        <div class="content-list">
                            <div class="icon">
                                <img src="/static/images/avatar.png">
                            </div>
                            <div class="tip">
                                <span class="tip-text username">xxx</span>
                                <span class="tip-text time">xx分钟前</span>
                                <span class="tip-text">学习了</span>
                                <span class="course-name">Linux基础</span>
                            </div>
                        </div>
                        <div class="content-list">
                            <div class="icon">
                                <img src="/static/images/avatar.png">
                            </div>
                            <div class="tip">
                                <span class="tip-text username">xxx</span>
                                <span class="tip-text time">xx分钟前</span>
                                <span class="tip-text">学习了</span>
                                <span class="course-name">Linux基础</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow">
                </div>
            </div>

            <div class="info-wraper">
                <div id="last-course" class="info-box">
                    <div class="title">
                        最新课程
                    </div>
                    <div class="content">
                        <div class="content-list">
                            <div class="icon">
                                <img src="/static/images/avatar.png">
                            </div>
                            <div class="tip">
                                <span class="tip-text username">xxx</span>
                                <span class="tip-text time">xx分钟前</span>
                                <span class="tip-text">添加了</span>
                                <span class="course-name">Linux基础</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="all-course-btn" class="wraper-foot">
                    所有课程
                </div>
                <div class="shadow">
                </div>
            </div>

        </div>
