#main

  #about-title
    padding 10px 20px
    background #fff
    top-border-radius 5px
    font-size 14px
    color #ff5400

  #about
    padding 20px
    background #fff
    bottom-border-radius 5px
