#main

  #wrapper

    .item-list
      padding 10px
      background #fff
      bottom-border-radius 5

    #settingForm
      
      li
        margin 5px
      
      label
        width 100px
        display inline-block

      input[type='text']
        font-size 14px
        padding 8px
        width 58%
        color #515c73
        border-radius 5px
        border solid 2px #b7c4ce
