font_for_windows = "Microsoft YaHei";
font_for_mac = "Hiragino Sans GB";
font_for_linux = "WenQuanYi Micro Hei";
base_root = 'http://localhost:13800'

body
    color: #75818b;
    font-family: arial, font_for_mac, font_for_windows, font_for_linux, sans-serif;

.w1170
    width: 1170px;

.center-block
    display: block;
    margin: 0 auto;

#header
    background: #fff;

    & .banner
        background: #6b7d8a;
        width: 100%;
        height: 300px;

    & #nav-container
        padding: 10px;

        & #logo
            display: inline-block;
            text-indent: -9999em;
            width: 390px;
            height: 80px;
            background: url(base_root + '/static/images/mooc-logo.png') no-repeat;

        & #nav
            float: right;
            height: 80px;
            line-height: 80px;

            & a
                color: #6b7488;
                text-decoration: none;

            & ul li
                padding: 0 20px 0 20px;
                float: left;

#footer
    padding: 0px 0 10px 0;
    background: #fff;
    zoom: 1;

    & .banner
        height: 0px;
        background: #55afd5;
        width: 100%;

    & #link
        margin: 40px 0 20px 0;
        text-align: center;

        & li.first:before
            content: '';

        & li
            font-size: 12px;
            display: inline-block;
            margin-right: 5px;

            & a
                color: #333333;
                text-decoration: none;

        & li:before
            content: '| ';
            margin-right: 5px;

    & #copyright
        margin: 20px 0 20px 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
