font_for_windows = "Microsoft YaHei"
font_for_mac = "Hiragino Sans GB"
font_for_linux = "WenQuanYi Micro Hei"

body
    color #75818b
    font-family arial, font_for_mac, font_for_windows, font_for_linux, sans-serif

    & a
        color #75818b
        text-decoration none

#header
    background #fff

    & #nav-container
        height 66px
        padding 10px
        overflow hidden

        & #logo
            display inline-block
            text-indent -9999em
            width 299px
            height 66px
            background url('../../static/images/micro-lecture.png') no-repeat

        & #nav
            float right
            margin-top 30px

            & .home-link
                display none

            & a
                color #6b7488
                font-size 15px
                font-weight bold

            & a.nav_current
                color #ff5400

            & a.user_logged
                color #DF0000

            & ul li
                float left
                padding 0 20px 0 20px

#footer
    padding 0px 0 10px 0
    background #fff
    zoom 1

    & .banner
        height 0px
        background #55afd5

    & #link
        margin 40px 0 20px 0
        text-align center

        & li.first:before
            content ''

        & li
            font-size 12px
            display inline-block
            margin-right 5px

            & a
                color #333333

        & li:before
            content '| '
            margin-right 5px

    & #copyright
        margin 20px 0 20px 0
        width 100%
        font-size 12px
        text-align center

.full-width
    width 100%

.wrapper
    width 88%
    display block
    margin 0 auto


.shadow
    bottom-border-radius 3
    background #cad6df
    margin 0 auto
    width 99%
    height 5px
