.tips-box
  .tips
    overflow hidden

    ul
      margin 0

      li
        float left

        &:first-child a
          margin 0px 5px 0px 0px

        a
          top-border-radius 5
          font-weight bold
          display block
          color #7b8896
          background #ccd7e0
          padding 7px 21px 8px
          font-size 14px
          margin 0px 5px 0px 5px

        a.current
          background #fff
          color #ff5400

        a:hover
          background #ff5400
          color: #fff

    ul li.right
      float right
      margin-right 10px

      a
        background #ecf1f4

      a:hover
        background #ff5400
        color: #fff

  .content
    background #fff
    padding 15px
    bottom-border-radius 5px

  .list > ul > li.item
    overflow hidden
    border-bottom 1px solid #DCE5EB


.info-box
  transition 0.25s
  margin-bottom 20px
  width 98%

  &:hover
    transform-translate3d 0 -2px 0

  .foot
    width 100%
    background #eff5fa
    height 40px
    line-height 40px
    text-align center
    font-size 14px

  .info-wrapper
    padding 12px 0 0 0
    background #fff
    text-indent 20px
    top-border-radius 3

    div.title
      padding-bottom 10px
      border-bottom 1px solid #dce5eb
      font-size 16px

    div.content
      margin-top 10px
      overflow hidden

      .list
        display block
        margin-bottom 10px
        clear both
        overflow hidden

  div.bottom
    bottom-border-radius 3


.single-box
  padding 10px
  background #fff
  top-border-radius 5
  bottom-border-radius 5
