.full-width
  width 100%

.wrapper
  width 88%
  display block
  margin 0 auto

.shadow
  bottom-border-radius 3
  background #cad6df
  margin 0 auto
  width 99%
  height 5px

.full-line
  height 1px
  width 100%
  background #cad6df
  margin 15px 0 15px 0

.clear
  clear both
  
.category_list
  top-border-radius 5
  bottom-border-radius 5
  background #ccd9e2
  margin-top 40px
  font-size 14px
  font-weight bold
  overflow hidden

  ul li
    float left

    &:first-child
      a
        padding-left 20px

    a
      height 40px
      display block
      color #7b8896
      line-height 40px
      transition 0.25s
      text-align center
      padding 0 10px 0 10px

      &:hover
        background #fff
