#footer
  padding 0px 0 10px 0
  background #fff
  zoom 1

  .banner
    height 0px
    background #55afd5

  #link
    margin 40px 0 20px 0
    text-align center

    li
      font-size 12px
      display inline-block
      margin-right 5px

    li.first:before
      content ''

      a
        color #333333

      &:before
        content '| '
        margin-right 5px

  #copyright
    margin 20px 0 20px 0
    width 100%
    font-size 12px
    text-align center
