
// ---------------------------
//  Styles of form division
// ---------------------------

.message-tip-box
  position relative

  & span
    top 0px
    right 0px
    background #363636
    border-radius 2px
    padding 5px
    color #fff
    background #363636
    background #363636
    position absolute
