box-shadow(args...)
    -webkit-box-shadow args
    -moz-box-shadow args
    box-shadow args

border-radius(args...)
    -webkit-border-radius args
    -moz-border-radius args
    border-radius args

top-border-radius(radius)
    -webkit-border-top-left-radius radius*1px
    -webkit-border-top-right-radius radius*1px
    -moz-border-radius-topleft radius*1px
    -moz-border-radius-topright radius*1px
    border-top-left-radius radius*1px
    border-top-right-radius radius*1px

bottom-border-radius(radius)
    -webkit-border-bottom-left-radius radius*1px
    -webkit-border-bottom-right-radius radius*1px
    -moz-border-radius-bottomleft radius*1px
    -moz-border-radius-bottomright radius*1px
    border-bottom-left-radius radius*1px
    border-bottom-right-radius radius*1px

transform-translate3d(x y z)
    -webkit-transform: translate3d(x, y, z)
    -moz-transform: translate3d(x, y, z)
    -o-transform: translate3d(x, y, z)
    transform: translate3d(x, y, z)

bind-animate(name length)
    animation: name length;
    -moz-animation: name length
    -webkit-animation: name length
    -o-animation: name length

transition(during)
    -webkit-transition: during
    -moz-transition: during
    -o-transition: during
    transition: during
