box-shadow(args...)
    -webkit-box-shadow args
    -moz-box-shadow args
    box-shadow args

border-radius(args...)
    -webkit-border-radius args
    -moz-border-radius args
    border-radius args

top-border-radius(radius)
    -webkit-border-top-left-radius radius*1px
    -webkit-border-top-right-radius radius*1px
    -moz-border-radius-topleft radius*1px
    -moz-border-radius-topright radius*1px
    border-top-left-radius radius*1px
    border-top-right-radius radius*1px

bottom-border-radius(radius)
    -webkit-border-bottom-left-radius radius*1px
    -webkit-border-bottom-right-radius radius*1px
    -moz-border-radius-bottomleft radius*1px
    -moz-border-radius-bottomright radius*1px
    border-bottom-left-radius radius*1px
    border-bottom-right-radius radius*1px