@import 'func.styl'

#category_list
    top-border-radius 5
    bottom-border-radius 5
    background: #ccd9e2;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;

    & ul li
        float: left;

        & a
            display: block;
            height: 40px;
            color: #7b8896;
            line-height: 40px;
            padding: 0 10px 0 10px;
            text-align: center;
            transition(0.25s)

            &:hover
                background: #fff;

    & ul li:first-child a
        padding-left: 20px;


#main
    background: #dce5eb;
    overflow: hidden;
    width: 100%;

    & #wrapper
        padding-bottom: 20px;
        padding-top: 20px;
        overflow: hidden;

    & .shadow
        bottom-border-radius 3
        background: #cad6df;
        margin: 0 auto;
        height: 5px;

    & #left
        float: left;
        width: 800px;

        & .course-category
            margin-top: 10px;
            display: block;
            overflow: hidden;
            zoom: 1;

            & .course-category-title
                display: block;
                color: #75818b;
                font-size: 18px;
                margin-bottom: 15px;

                & a
                    color: #75818b;
                    transition(0.25s)

                    &:hover
                        color: #aa5400;

        & .course-container
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            transition(0.25s)
            
            &:hover
                transform-translate3d 0 -2px 0

            & .course-box
                width: 380px;
                float: left;

                & .course-info
                    top-border-radius 3
                    background: #fff;
                    padding: 15px;
                    overflow: hidden;

                    & .icon
                        float: left;
                        margin: 0 10px 0 0;

                        & img
                            width: 70px;
                            height: 70px;
                    & .course-title
                        font-weight: bold;
                        margin-bottom: 0.6em;
                    & .course-description
                        font-size: 14px;
                        line-height: 1.3em;

                & .course-record
                    bottom-border-radius 3
                    background: #eff5fa;
                    padding: 0 15px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;

                    & .course-num
                        float: left;
                        & span
                            font-weight: bold;

                    & .learned-num
                        float: right;
                        & span
                            font-weight: bold;

                & .shadow
                    width: 370px;


    & #right
        float: right;
        width: 360px;

        & .info-wraper
            transition(0.25s)
            margin-bottom: 20px;

            &:hover
                transform-translate3d 0 -2px 0

            & .wraper-foot
                width: 360px;
                background: #eff5fa;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;

            & #learn-act
                bottom-border-radius 3

            & #all-course-btn
                bottom-border-radius 3

            & .info-box
                padding: 12px 0 0 0;
                background: #fff;
                text-indent: 20px;
                top-border-radius 3

                & .title
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dce5eb;
                    font-size: 16px;

                & .content
                    margin-top: 20px;
                    overflow: hidden;

                    & .content-list
                        display: block;
                        margin-bottom: 15px;
                        clear: both;
                        overflow: hidden;

                        & .icon
                            float: left;

                        & .icon img
                            width: 40px;
                            height: 40px;

                        & .tip
                            float: left;
                            
                            & .tip-text
                                font-size: 14px;
                                color: #a5b4c1;

                            & .course-name
                                float: left;
                                line-height: 1.8em;
                                font-size: 16px;

            & .shadow
                width: 350px;

