#main
    background: #dce5eb;
    overflow: hidden;

    & #wrapper
        padding-bottom: 20px;
        padding-top: 20px;
        overflow: hidden;

    & .shadow
        background: #cad6df;
        border-radius: 0 0 5px 5px;
        margin: 0 auto;
        height: 5px;

    & #left
        float: left;
        width: 800px;

        & .course-category
            margin-top: 20px;
            display: block;
            overflow: hidden;
            zoom: 1;

            & .course-category-title
                display: block;
                color: #75818b;
                font-size: 18px;
                margin-bottom: 10px;

        & .course-container
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;

            & .course-box
                width: 380px;
                float: left;

                & .course-info
                    border-radius: 5px 5px 0 0;
                    background: #fff;
                    padding: 15px;
                    overflow: hidden;

                    & .icon
                        float: left;
                        margin: 0 10px 0 0;

                        & img
                            width: 70px;
                            height: 70px;
                    & .course-title
                        font-weight: bold;
                        margin-bottom: 0.6em;
                    & .course-description
                        font-size: 14px;
                        line-height: 1.3em;

                & .course-record
                    border-radius: 0 0 5px 5px;
                    background: #eff5fa;
                    padding: 0 15px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;

                    & .course-num
                        float: left;
                        & span
                            font-weight: bold;

                    & .learned-num
                        float: right;
                        & span
                            font-weight: bold;

                & .shadow
                    width: 370px;


    & #right
        float: right;
        width: 360px;

        & .info-wraper
            margin-bottom: 20px;

            & .wraper-foot
                width: 360px;
                background: #eff5fa;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;

            & .info-box
                padding: 12px 0 0 0;
                background: #fff;
                text-indent: 20px;
                border-radius: 3px;

                & .title
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dce5eb;
                    font-size: 16px;

                & .content
                    margin-top: 20px;
                    overflow: hidden;

                    & .content-list
                        display: block;
                        margin-bottom: 15px;
                        clear: both;
                        overflow: hidden;

                        & .icon
                            float: left;

                        & .icon img
                            width: 40px;
                            height: 40px;

                        & .tip
                            float: left;
                            
                            & .tip-text
                                font-size: 14px;
                                color: #a5b4c1;

                            & .course-name
                                float: left;
                                line-height: 1.8em;
                                font-size: 16px;

            & .shadow
                width: 350px;
