@import 'global_var.styl'
@import 'func.styl'

#category_list
    top-border-radius 5
    bottom-border-radius 5
    background: #ccd9e2;
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;

    & ul li
        float: left;

        & a
            display: block;
            height: 40px;
            color: #7b8896;
            line-height: 40px;
            padding: 0 10px 0 10px;
            text-align: center;
            transition(0.25s)

            &:hover
                background: #fff;

    & ul li:first-child a
        padding-left: 20px;


#main
    background: #dce5eb;
    overflow: hidden;
    width: 100%;

    & #wrapper
        padding-bottom: 20px;
        padding-top: 20px;
        overflow: hidden;

    & .shadow
        height: 5px;
        width: 99%;
        margin: 0 auto;
        background: #cad6df;
        bottom-border-radius 3

    & #left
        float: left;
        width: 800px;

        & .course-category
            margin-top: 10px;
            display: block;
            overflow: hidden;
            zoom: 1;

            & .course-category-title
                display: block;
                color: #75818b;
                font-size: 18px;
                margin-bottom: 15px;

                & a
                    color: #75818b;
                    transition(0.25s)

                    &:hover
                        color: #aa5400;

        & .course-container
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            transition(0.25s)
            
            &:hover
                transform-translate3d 0 -2px 0

            & .course-box
                width: 380px;
                float: left; 

                & .course-info
                    top-border-radius 3
                    background: #fff;
                    padding: 15px;
                    overflow: hidden;

                    & .icon
                        float: left;
                        margin: 0 10px 0 0;

                        & img
                            width: 70px;
                            height: 70px;

                    & .course-title
                        font-weight: bold;
                        margin-bottom: 0.6em;

                        &:hover
                            color: #ff5400;

                    & .course-description
                        font-size: 14px;
                        line-height: 1.3em;

                & .course-record
                    bottom-border-radius 3
                    background: #eff5fa;
                    padding: 0 15px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;

                    & .course-num
                        float: left;
                        border-right: solid 2px #cad6df;
                        padding-right: 20px;
                        & span
                            font-weight: bold;

                    & .learned-num
                        margin-left: 20px;
                        float: left;
                        & span
                            font-weight: bold;

                & .shadow
                    width: 370px;

        & #category_list
            margin-top: 10px;
            margin-bottom: 30px;

            & a
                margin: 0;
                padding: 0 10px 0 0;

                &:hover
                    background: #ccd9e2;
                    color: #626f7c;

                &:before
                    line-height: 40px;
                    content: url(base_root + '/static/images/arrow.png');
                    margin: 0 10px 0 0;

            & li:first-child
                & a
                    padding-left: 10px;

                & a:before
                    content: '';

            & li:last-child
                & a
                    color: #ff5400;

        & .full-width-box
            & .course-container, .course-box
                width: 100%;

            & .shadow
                width: 98% !important;

            & #clip-list
                margin-top: 20px;

    & #right
        float: right;
        width: 360px;

        & .info-wraper
            transition(0.25s)
            margin-bottom: 20px;

            &:hover
                transform-translate3d 0 -2px 0

            & .wraper-foot
                width: 360px;
                background: #eff5fa;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;

            & #learn-act
                bottom-border-radius 3

            & #all-course-btn
                bottom-border-radius 3

            & .info-box
                padding: 12px 0 0 0;
                background: #fff;
                text-indent: 20px;
                top-border-radius 3

                & .title
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dce5eb;
                    font-size: 16px;

                & .content
                    margin-top: 20px;
                    overflow: hidden;

                    & .content-list
                        display: block;
                        margin-bottom: 15px;
                        clear: both;
                        overflow: hidden;

                        & .icon
                            float: left;

                        & .icon img
                            width: 40px;
                            height: 40px;

                        & .tip
                            
                            & .tip-text
                                font-size: 14px;
                                color: #a5b4c1;

                            & .course-name
                                float: left;
                                line-height: 1.8em;
                                font-size: 16px;

            & .shadow
                width: 350px;

    #player
        width: 100%;
        background: #000;

        & video
            width: 100%;

    #clip-intro
        width: 100%;
        background: #fff;
        padding: 25px;
        margin: 0px;

        & h2
            font-size: 22px !important;
            color: #515c73 !important;
            line-height: 30px;

        & p
            font-size: 14px;
            margin: 10px 0 10px 0;

        & #category_info

            overflow: hidden;

            & ul li
                float: left;

                & a
                    font-size: 14px;
                    margin: 0;
                    display: block;
                    height: 40px;
                    color: #7b8896;
                    line-height: 40px;
                    font-weight: bold;
                    transition(0.25s)

                    &:hover
                        color: #ff5400;

                    &:before
                        padding: 0 10px 0 10px;
                        line-height: 40px;
                        content: url(base_root + '/static/images/arrow.png');

            & li:first-child
                & a
                    &:before
                        padding: 0px;
                        content: '';

            & li:last-child
                & a
                    color: #ff5400;

    #clip-info

        margin-top: 20px;

        & .shadow
            width: 99%;

        & #clip-info-left
            width: 780px;
            float: left;

        & #clip-btns
            width: 100%;
            overflow: hidden;

            & li:first-child
                & a
                    margin: 0px 5px 0px 0px;

            & ul li
                float: left;

                & a
                    top-border-radius 5
                    font-weight: bold;
                    display: block;
                    color: #7b8896;
                    background: #ccd7e0;
                    padding: 7px 21px 8px;
                    font-size: 14px;
                    margin: 0px 5px 0px 5px;

                & a.current
                    background: #fff;
                    color: #ff5400;

        & #clip-tips
            background: #fff;
            padding: 10px;
            font-size: 14px;
            line-height: 1.5em;
            top-border-radius 5
            bottom-border-radius 5
            -webkit-border-top-left-radius: 0px;
            -moz-border-radius-topleft: 0px;
            border-top-left-radius: 0px;
            text-indent: 1em;

        & #clip-info-right
            float: right;
            width: 360px;

            & .shadow
                bottom-border-radius 5

            & #clip-who-learning
                bottom-border-radius 5
                top-border-radius 5
                background: #fff;

                & h2
                    color: #515c73;
                    padding: 10px 10px 10px 15px;
                    font-size: 15px;
                    border-bottom: 1px solid #dce5eb;

                & #leanring
                    padding: 20px;

                & .content-list
                    display: block;
                    margin-bottom: 15px;
                    clear: both;
                    overflow: hidden;

                    &:last-child
                        margin-bottom: 0px;

                    & .icon
                        float: left;

                    & .icon img
                        width: 40px;
                        height: 40px;

                    & .tip
                        margin-left: 50px;
                        
                        & .tip-text
                            font-size: 14px;
                            color: #a5b4c1;

                        & .course-name
                            float: left;
                            line-height: 1.8em;
                            font-size: 16px;