#main

  #right

    .info-wrapper
      transition 0.25s
      margin-bottom 20px
      width 98%

      &:hover
        transform-translate3d 0 -2px 0

      .wrapper-foot
        width 100%
        background #eff5fa
        height 40px
        line-height 40px
        text-align center
        font-size 14px

      #learn-act
        bottom-border-radius 3

      #all-course-btn
        bottom-border-radius 3

      .info-box
        padding 12px 0 0 0
        background #fff
        text-indent 20px
        top-border-radius 3

        .title
          padding-bottom 10px
          border-bottom 1px solid #dce5eb
          font-size 16px

        .content
          margin-top 10px
          overflow hidden

          .content-list
            display block
            margin-bottom 10px
            clear both
            overflow hidden

            .icon
              float left

            .icon img
              width 40px
              height 40px

            .tip
              
              .tip-text
                font-size 14px
                color #a5b4c1

              .course-name
                float left
                line-height 1.8em
                font-size 16px
