body
  #player-container
    width 100%
    padding 2px 1% 0 1%
    padding auto
    margin 0 auto
    background #333
    position relative

    video
      width 98%
      margin 0 auto
      
    .narrow-border
      padding 10px !important

    .play-mask-close
      float right
      margin-bottom 10px
      margin-right 10px
      border 1px solid #acacac
      padding 5px
      top-border-radius 3
      bottom-border-radius 3

    .player-mask
      top 0
      left 0
      position absolute
      padding 60px 100px 60px 100px
      border #000 solid 1px
      background rgba(255, 255, 255, 0.9)

      .question
        font-size 36px
        margin 20px 0 20px 0

        .tips
          font-size 20px
          color #ff0000

      .opts
        text-align left
        line-height 1.6em
        label
          font-size 20px

        label
          display block
      .btns
        float right
