#main

    & #wrapper

        & #tips
            overflow hidden

            & ul
                margin 0 

            & li:first-child
                & a
                    margin 0px 5px 0px 0px

            & ul li
                float left

                & a
                    top-border-radius 5
                    font-weight bold
                    display block
                    color #7b8896
                    background #ccd7e0
                    padding 7px 21px 8px
                    font-size 14px
                    margin 0px 5px 0px 5px

                & a.current
                    background #fff
                    color #ff5400

        & #question-list
            padding 10px
            background #fff
            bottom-border-radius 5

            & .question-item
                overflow hidden
                border-bottom 1px solid #DCE5EB

                & .question-left-float
                    float left
                    margin 10px

                & .question-stats
                    & div
                        color #aaa
                        font-size 12px
                        text-align center

                        & p
                            font-size 22px
                            line-height 28px

                    & .respond-count
                        color #CC0000

                & .question-content

                    & a
                        transition 0.25s
                        color #75818b

                    & a:hover
                        color #ff5400

                    & .question-title
                        line-height 36px

                    & .question-tags
                        margin 0
                        padding 0

                        & li
                            margin 3px
                            float left
                            padding 3px
                            font-size 12px
                            background #eee
                            top-border-radius 3px
                            bottom-border-radius 3px

                    & .question-author

                        margin 0
                        padding 0

                        & span
                            color #bac0c5
                            float left
                            margin 3px
                            padding 3px 0 3px 0
                            font-size 12px

        & #question-description
            background #fff
            top-border-radius 3px
            bottom-border-radius 3px
            overflow hidden

            & #question-title
                font-size 20px
                padding 20px 20px 0px 20px

            & #question-tags

                margin 5px 20px 20px 20px
                overflow hidden

                & li
                    margin 3px
                    float left
                    padding 3px
                    font-size 12px
                    top-border-radius 3px
                    bottom-border-radius 3px

                & li.author, li.time, li.count
                    color #acacac
                    float left
                    background #fff
                    font-size 12px

                & li.avatar
                    float right
                    & img
                        width 50px
                        height 50px

            & #question-content
                padding-left 20px
                padding-bottom 20px

        & #question-answer

            & #answers-list
                & li
                    padding 20px
                    background #fff
                    top-border-radius 3px
                    bottom-border-radius 3px
                    overflow hidden
                    overflow hidden
                    display block

            & span
                float left
                margin 5px

            & span.avatar
                float right
            
                & img
                    width 50px
                    height 50px

            & .vote-btns
                overflow hidden

                & a
                    overflow hidden
                    display block
                    background #dce5eb
                    margin 3px 0
                    top-border-radius 4px
                    bottom-border-radius 4px

                    &:hover
                        background #ff5400

                & span.vote-btn
                    width 0
                    height 0
                    border solid transparent
                    font-size 0
                    background-image none
                    border-width 8px 6px

                & a.vote-up
                    border-color transparent transparent #515c73

                    & > span
                        border-color inherit
                        margin 2px 8px 9px 8px

                    &:hover
                        border-color transparent transparent #fff


                & a.vote-down
                    border-color #515c73 transparent transparent

                    & > span
                        border-color inherit
                        margin 9px 8px 1px 8px

                    &:hover
                        border-color #fff transparent transparent

    & #right

        & .info-wrapper .info-box .content .content-list li

            margin 15px 0 20px 0
            float left

            & span
                color #515c73
                padding 5px 10px 5px 10px
                background #dce5eb
                top-border-radius 5px
                bottom-border-radius 5px
                font-size 14px
