#main
  #left
    width 100%

    .course-category
      .course_box_wrapper
        width: 47%

    .course-container .course-box .course-info .course-description
        .ellipsis-60
          display none

        .ellipsis-20
          display inline

  #right
    width 100%
