#header

    & .banner
        height 200px
        background-position left center

        & #banner-text
            line-height 200px
            font-size 22px

    & #nav-container

        & #logo
            width 180px
            background-position left center

        & #nav
            & ul li
                padding 0 5px 0 5px


#main

    #clip-info

        & #clip-info-left
            width 100%
            margin-bottom 20px
        
        & #clip-info-right
            width 100%
