#header

  .banner
    height 200px
    background-position left top

    #banner-text
      line-height 200px
      font-size 22px

  #nav-container

    #logo
      margin-top 10px
      width 180px
      height 66px
      text-indent -9999em
      display inline-block
      background url('../images/micro-lecture.png') no-repeat

    #nav
      ul li
        padding 0 5px 0 5px


#main

  #lecture-info

    #lecture-info-left
      width 100%
      margin-bottom 20px
    
    #lecture-info-right
      width 100%
