#header

    & .banner
        height 140px
        background-position left center

        & #banner-text
            line-height 140px
            font-size 18px

    & #nav-container
        height auto
        padding 0
        overflow hidden

        & #logo
            display none
            width 0

        & #nav
            margin 10px 0 10px 0

            & ul li
                padding 0 5px 0 5px

            & .home-link
                display inherit

#main
    & #left
        & .course-category
            & .course_box_wrapper
                width: 100%

    & #category_info
        display none

    & #lecture-info #lecture-btns #btn-evaluation
        display none

    & #lecture-info #lecture-btns #btn-video-resource
        display none
