// -------------------------
//  Import all stylus files
// -------------------------

@import 'setting'
@import 'reset'
@import 'base'
@import 'box'
@import 'tag'

@import 'custom/account'
@import 'custom/discuss'
@import 'custom/index-right'
@import 'custom/course'
@import 'custom/player'
@import 'custom/lecture'

@media screen and (max-width: 1150px)
  @import 'screen-1150'

@media screen and (max-width: 850px)
  @import 'screen-850'

@media screen and (max-width: 720px)
  @import 'screen-720'
  
@media screen and (max-width: 550px)
  @import 'screen-550'
