// -------------------------
//  Import all stylus files
// -------------------------

@import 'setting'

@import 'reset'

@import 'header'

@import 'footer'

@import 'component'

@import 'course'

@import 'info'

@import 'player'

@import 'lecture'

@import 'qa'

@import 'account'

@media screen and (max-width: 1150px)
  @import 'screen-1150'

@media screen and (max-width: 850px)
  @import 'screen-850'

@media screen and (max-width: 720px)
  @import 'screen-720'
  
@media screen and (max-width: 550px)
  @import 'screen-550'
