li.tag-item
  margin 10px 0 10px 0
  float left
  line-height 10px

  a
    color #515c73
    padding 5px 10px 5px 10px
    background #dce5eb
    top-border-radius 5px
    bottom-border-radius 5px
    font-size 14px
