<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{%- block title %}深大微课程 - MicroLecture{% endblock %}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mooc-Team">
    <meta name="description" content="深圳大学墨客，提供免费的教学视频。" />
</head>
<style>
body {
    text-align: center;
    font-size: 24px;
}
</style>
<body>

Forbidden

</body>
</html>


