form.user-setting
  
  li
    margin 10px
  
  label
    font-size 14px
    width 100px
    display block
    margin 5px

  input[type='text'], input[type='password']
    font-size 14px
    padding 4px 6px 
    width 100%
    color #515c73
    border-radius 2px
    border solid 1px #b7c4ce
    box-sizing: border-box

#left

  ul.disc-style, ul.disc-style > li
    margin-left 10px
    list-style disc

.profile-container

  .avatar-box
    margin 0 20px 0 10px
    width 80px
    float left

  .avatar
    width 70px
    height 70px
    transition 0.25s
    border 4px #fff solid
    top-border-radius 40px
    bottom-border-radius 40px
    box-shadow-func 1px 1px 1px #000

  .profile
    float left
    font-size 14px
    line-height 1.6em

    ul.user-info li
      float left

      &:before
        margin 0 5px 0 5px
        content '|'

      &:first-child:before
        margin 0
        content ''

    .username
      line-height 1.5em
      font-size 20px
      color #000
      font-weight bold

#preferenceForm
  .tags_field
    width 500px
    height 300px
