.container
  #category-intro
    width 100%
    float left
    margin-bottom 20px

  #lecture-list
    width 100%
    margin-top 20px

    .lecture_box_wrapper
      width 100%
      display block
      float left
      margin-bottom 10px

  .course-container, .course-box
    width 100%


.course-category
  display block
  overflow hidden
  width 100%

  .course_box_wrapper
    width 48%
    display block
    float left
    margin-right 2%
    margin-bottom 20px  

  .course-category-title
    display block
    color #75818b
    font-size 18px
    margin-bottom 15px

    a
      color #75818b
      transition 0.25s

      &:hover
        color #aa5400


.course-container
  float left
  transition 0.25s
  width 100%
  
  &:hover
    transform-translate3d 0 -2px 0

  .course-box
    width 100%
    float left

    .course-info
      top-border-radius 3
      background #fff
      padding 15px
      overflow hidden

      .icon
        float left
        width 30%

        img
          border-radius 5px
          width 98px
          height 98px

      .small-icon
        width auto
        margin-right 10px

      .course-title
        font-weight bold
        margin-bottom 0.6em
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
        font-size 18px

        &:hover
          color #ff5400

      .course-description
        font-size 14px
        line-height 1.3em
        text-overflow ellipsis
        overflow hidden

        .ellipsis-60
          display inline

        .ellipsis-20
          display none

    .course-record
      bottom-border-radius 3
      background #eff5fa
      padding 0 15px
      height 40px
      font-size 14px
      line-height 40px

      .course-num
        float left
        border-right solid 2px #cad6df
        padding-right 20px
        
        span
          font-weight bold

      .learned-num
        margin-left 20px
        float left
        
        span
          font-weight bold


#category-list
  margin-bottom 30px

  a
    margin 0
    padding 0 10px 0 0

    &:hover
      background #ccd9e2
      color #626f7c

    &:before
      line-height 40px
      content url('../images/arrow.png')
      margin 0 10px 0 0

  li:first-child
    a
      padding-left 10px

    :before
      content ''

  li:last-child

    a
      color #ff5400
  

#lecture-comment-submit
  padding 5px
  margin-bottom 10px
  overflow hidden

  .form-title
    padding 0px

  button
    margin 0px
    float right
  form
    width 100%