#question-list
  li.question-item
    float left
    overflow hidden

    .question-left-float
      float left
      margin 10px

    .question-stats
      div
        color #aaa
        font-size 12px
        text-align center

        p
          font-size 22px
          line-height 28px

      .respond-count
        color #CC0000

    .question-content

      a
        transition 0.25s
        color #75818b

      a:hover
        color #ff5400

      .question-title
        line-height 36px

      .question-tags
        margin 0
        padding 0

        li
          margin 3px
          float left
          padding 3px
          font-size 12px
          background #eee
          top-border-radius 3px
          bottom-border-radius 3px

      .question-author

        margin 0
        padding 0

        span
          color #bac0c5
          float left
          margin 3px
          padding 3px 0 3px 0
          font-size 12px


#question-description

  #question-info
    float left

  #question-title
    font-size 20px
    padding 20px 20px 0px 20px

    span
      color #808080
      font-size 12px

  #question-tags

    margin 5px 20px 20px 20px
    overflow hidden

    li
      margin 3px
      float left
      padding 3px
      font-size 12px
      top-border-radius 3px
      bottom-border-radius 3px
      background #ecf1f4

    li.author, li.time, li.count
      color #acacac
      float left
      background #fff
      font-size 12px

  div.avatar
    float right
    margin-top 30px
    margin-right 30px
    
    img
      width 50px
      height 50px

#question-answer

  #answers-list
    li
      padding 20px
      background #fff
      top-border-radius 3px
      bottom-border-radius 3px
      overflow hidden
      overflow hidden
      display block

  span
    float left
    margin 5px

  span.avatar
    float right
  
    img
      width 50px
      height 50px

  .vote-btns
    overflow hidden

    a
      overflow hidden
      display block
      background #dce5eb
      margin 3px 0
      top-border-radius 4px
      bottom-border-radius 4px

      &:hover
        background #ff5400

    span.vote-btn
      width 0
      height 0
      border solid transparent
      font-size 0
      background-image none
      border-width 8px 6px

    a.vote-up
      border-color transparent transparent #515c73

      & > span
        border-color inherit
        margin 2px 8px 9px 8px

      &:hover
        border-color transparent transparent #fff


    a.vote-down
      border-color #515c73 transparent transparent

      & > span
        border-color inherit
        margin 9px 8px 1px 8px

      &:hover
        border-color #fff transparent transparent

  div.answer-info
    float left

    span.author
      line-height 16px
      font-size 14px
      font-weight bold
      color #515c73

    span.time
      font-size 14px
      font-weight normal
      color #ABB5BD
      line-height 16px

    span.up_count
      line-height 16px
      font-size 12px

  p.content
    font-size 14px
    text-indent 2em
    margin 10px
    padding 5px

#re-answer
  background #fff
  margin 20px 0 0 0
  padding 20px
  top-border-radius 3px
  bottom-border-radius 3px
  
  div
    width 95%
    margin 0 auto
    margin-top 10px
    margin-bottom 10px

  textarea
    width 100%
    height 15em;
    top-border-radius 5px
    bottom-border-radius 5px
    border 2px solid #b7c4ce
    padding 10px
    font-size 14px

  input[type='submit']
    float right
    height 40px
    width 50px
    font-size 16px
    padding 8px
