#right
  .info-box
    .icon
      float left

    .icon img
      width 40px
      height 40px

    .tip
      .tip-text
        font-size 14px
        color #a5b4c1

      .course-name
        float left
        line-height 1.8em
        font-size 16px


.search-form
  input
    width 85%
