{%- extends 'layout.html' %}

{%- block left %}
<div id="left">
    <div id="tips">
        <ul>
            <li><a href="{{ url_for('account.setting') }}">{{ _('Basic Settings') }}</a>
            <li><a href="{{ url_for('account.change_password') }}" class="current">{{ _('Change Password') }}</a>
        </ul>
    </div>

    <div class="item-list">
        <form id="settingForm" action="{{ url_for('account.change_password') }}" method="post">
            {{ form.csrf_token }}
            <ul>
                <li>
                <label>{{ form.old_password.label }}</label>
                {{ form.old_password() }}
                </li>
                <li>
                <label>{{ form.new_password.label }}</label>
                {{ form.new_password() }}
                </li>
                <li>
                <label>{{ form.comfirm.label }}</label>
                {{ form.comfirm() }}
                </li>
            </ul>
            <button class="btn">{{ _('Update') }}</button>
        </form>
    </div>
    <div class="shadow"></div>
</div>
{%- endblock %}

{%- block right %}
<div id="right">
</div>
{%- endblock %}
