{%- extends 'layout.html' %}

{%- block left %}
<div id="left">
    <div class="tips-box">
        <div class="tips">
            <ul>
                <li><a href="{{ url_for('account.setting') }}">{{ _('Basic Settings') }}</a>
                <li><a href="{{ url_for('account.change_password') }}" class="current">{{ _('Change Password') }}</a>
                <li><a href="{{ url_for('account.preference') }}">{{ _('Preference') }}</a>
            </ul>
        </div>
        <div class="content">
            <form id="passwordForm" action="{{ url_for('account.change_password') }}" method="post" class="user-setting">
                {{ form.csrf_token }}
                <ul>
                    <li>
                    {{ form.old_password.label }}
                    {{ form.old_password() }}
                    </li>
                    <li>
                    {{ form.new_password.label }}
                    {{ form.new_password() }}
                    </li>
                    <li>
                    {{ form.comfirm.label }}
                    {{ form.comfirm() }}
                    </li>
                </ul>
                <button class="btn">{{ _('Update') }}</button>
            </form>
        </div>
    </div>
    <div class="shadow"></div>
</div>
{%- endblock %}

{%- block right %}
{%- endblock %}

{%- block endscript %}
<script type="text/javascript">
    $(function(){
        $T.ajax_form($('#passwordForm'));
    });
</script>
{%- endblock %}
