{%- extends 'layout.html' %}

{%- block left %}
<div id="left">
    <div id="tips">
        <ul>
            <li><a href="{{ url_for('account.setting') }}" class="current">{{ _('Basic Settings') }}</a>
            <li><a href="{{ url_for('account.change_password') }}">{{ _('Change Password') }}</a>
        </ul>
    </div>

    <div class="item-list">
        <form id="settingForm" action="{{ url_for('account.setting') }}" method="post">
            {{ form.csrf_token }}
            <ul>
                <li>
                <label>{{ form.name.label }}</label>
                {{ form.name() }}
                </li>
                <li>
                <label>{{ form.stu_number.label }}</label>
                {{ form.stu_number() }}
                </li>
                <li>
                <label>{{ form.is_male.label }}</label>
                {{ form.is_male() }}
                </li>
                <li>
                <label>{{ form.college.label }}</label>
                {{ form.college() }}
                </li>
                <li>
                <label>{{ form.nickname.label }}</label>
                {{ form.nickname() }}
                </li>
                <li>
                <label>{{ form.card_id.label }}</label>
                {{ form.card_id() }}
                </li>
                <li>
                <label>{{ form.email.label }}</label>
                {{ form.email() }}
                </li>
                <li>
                <label>{{ form.phone.label }}</label>
                {{ form.phone() }}
                </li>
                <li>
                <label>{{ form.short_phone.label }}</label>
                {{ form.short_phone() }}
                </li>
            </ul>
            <button class="btn">{{ _('Update') }}</button>
        </form>
    </div>
    <div class="shadow"></div>
</div>
{%- endblock %}

{%- block right %}
<div id="right">
</div>
{%- endblock %}
